.main {
    width: 100%;
    height: 100%;
    grid-area: main;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--shadow-dark),
        -0.2rem -0.2rem 1.8rem var(--shadow-light);
    border-radius: 3rem;
    border: 1px solid var(--shadow-light);
    padding: 3rem;

    .title {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
    }

    .sub-title {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 5rem;
    }

    .sites {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(4rem, 6rem));
        gap: 3rem;
        padding: 5rem;
        justify-content: center;
        place-items: center center;
        box-shadow: inset 0.6rem 0.6rem 1.4rem var(--shadow-dark),
            inset -0.2rem -0.2rem 1.8rem var(--shadow-light);
        border-radius: 3rem;
        overflow-y: auto;
    }
}