.sider {
    grid-area: sider;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--shadow-dark),
        -0.2rem -0.2rem 1.8rem var(--shadow-light);
    border-radius: 3rem;
    border: 1px solid var(--shadow-light);
    display: flex;
    flex-direction: column;

    .avater {
        height: 16rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 9rem;
            width: 9rem;
            border-radius: 50%;
            transition: all .4s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: rotate(360deg);
            }
        }
    }

    .user-name {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .theme-switcher {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        cursor: pointer;
        margin-top: auto;
        margin-bottom: 2rem;
    }
}