:root[theme=dark] {
    --bg-color: #282828;
    --shadow-dark: #222;
    --shadow-light: #2e2e2e;
    --primary: #cdd9e5f1;
    --primary-light: #8590a6;
    --hover: #c097f4;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}